.expense_item_date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20.5rem;
  height: 6.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.expense_item_description {
  display: flex;
  align-items: center;
  gap: 5rem; /* Adjusted gap */
}

.expense_item_price {
  display: flex;
  align-items: center;
}

.expense-item-info {
  font-size: 1rem; /* Adjusted font size */
}

.expense-item-title {
  font-weight: bold;
}

.expense-item-amount {
  font-weight: bold;
}


